/node_modules
/log

*.pyc
*.DS_Store
*.*~
*.*_
*.orig
*.orig.*
*.chg.*
*.rej
*.conflict
*.core
*.swp
*.tar.*
*.gz
*.log
*.tar
# *.pdf
*.zip
*.doc
*.xls
*.docx
*.xlsx
*.ppt
*.pptx
*.rar
*.7z
*.directory
*.bak
*.csv
sitemap*.xml
[Tt]humbs.db
.htaccess
.htpasswd
composer.lock
