@import '../assets/constant';
@import '../assets/keyframes';



.glitch.text.twitch-text {
  position: relative;
  color: white;
  mix-blend-mode: lighten;
  &.styled{
    margin: auto;
    font-size: 120px;
    text-transform: uppercase;
  }
  &:before,
  &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      width: 100%;
      background: black;
      clip: rect(0, 0, 0, 0);
  }

  &:before {
      left: -1px;
      text-shadow: 1px 0 rgba(red,0.7);
  }

  &:after {
      left: 1px;
      text-shadow: -1px 0 rgba(blue,0.7);
  }
  &:not(.hover) {
    &:before {
      text-shadow: 4px 0 rgba(red,0.7);
      animation: glitchTextNoise_before 0.8s infinite ease-in-out alternate-reverse;
    }
    &:after {
      text-shadow: -5px 0 rgba(blue,0.7);
      animation: glitchTextNoise_after 0.8s infinite ease-in-out alternate-reverse;
    }
  }
  &.hover{
    &:hover {
      &:before {
        text-shadow: 4px 0 rgba(red,0.7);
        animation: glitchTextNoise_before 0.8s infinite ease-in-out alternate-reverse;
      }
      &:after {
        text-shadow: -5px 0 rgba(blue,0.7);
        animation: glitchTextNoise_after 0.8s infinite ease-in-out alternate-reverse;
      }
    }
  }
}
